version: "3.8"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3004:3004"
    networks:
      - ms-net
    restart: unless-stopped

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "3001:3001"
    networks:
      - ms-net
    restart: unless-stopped

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3002:3002"
    networks:
      - ms-net
    restart: unless-stopped

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "3003:3003"
    depends_on:
      - user-service
      - product-service
      - order-service
    networks:
      - ms-net
    restart: unless-stopped

networks:
  ms-net:
    driver: bridge